*{
  padding : 0px; 
  margin : 0px;
 

}


.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: aqua;
  
}

.heading{
  padding : 50px; 
  font-family: algerian;
  
}

.main-segment{
  width : 100%;
  height: 75%;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter ;
}
.containers .input-section{
  padding-bottom: 5px;
  margin-bottom: 5px;
 display:grid;
 gap: 1rem;
 background-color: bisque !important;
  
}

.card-containers{
  display: grid;
  gap : 1 rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
background-color:blue;

}

.card{
  margin :15px;
}

.add-btn{
 margin : 10px;
}
.btn-area{
  align-items: center;
  justify-content: center;
}
@media (max-width:900px){
  .card-containers{
    display: grid;
    gap : 1 rem;
background-color: brown;

  grid-template-columns:repeat(2,1fr);
  }
}
